<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <title>Alexander's Journal</title>
        <link href="https://fonts.googleapis.com/css?family=Cousine:400" rel="stylesheet" type="text/css">
        <link href="https://fonts.googleapis.com/css?family=Work+Sans:600" rel="stylesheet" type="text/css">
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
        <link rel="stylesheet" href="/static/css/normalize.css">
        <link rel="stylesheet" href="/static/css/site.css" type="text/css">
    </head>
    <body>
        <header>
            <div class="container">
                <div class="site-header">
                    <a class="logo" href="{{ url_for('index') }}"><i class="material-icons">library_books</i></a>
                    {% if current_user.is_authenticated %}
                    <a class="button icon-right" href="{{ url_for('new_entry') }}"><span>New Entry</span> <i class="material-icons">add</i></a>
                    <a class="button icon-right" style="padding-right: 10px; margin-right: 1%" href="{{ url_for('logout') }}"><span>Logout</span></a>
                    {% else %}
                    <a class="button icon-right" style="margin-left: 1%; margin-right: 1%; padding-right: 10px" href="{{ url_for('login') }}"><span>Login</span></a>
                    <a class="button icon-right" style="padding-right: 10px" href="{{ url_for('register') }}"><span>Register</span></a>
                    {% endif %}
                </div>
            </div>
        </header>
        <div>
            {% with messages = get_flashed_messages(with_categories=True) %}
            {% if messages %}
                {% for category, messsage in messages %}
                    <div style="color:red; text-align: center;">{{ messsage }}</div>
                {% endfor %}
            {% endif %}
            {% endwith %}
        </div>
        <section>
            <div class="container">
                {% if tag_search %}
                <h3>Entries with the tag: {{ tag_search }}</h3>
                {% endif %}
                <div class="entry-list">
                {% for value in data %}
                    <article>
                        <h2><a href="{{ url_for('detail_page', entry_id=value.id, slug=value.slug) }}">{{ value.title }}</a></h2>
                        <time datetime="{{ value.date }}">{{ value.date.strftime('%Y-%m-%d') }}</time><br>
                        <span>Tags:</span>
                        {% set tags = value.tags %}
                        {% set tags = tags.split() %}
                        {% for tag in tags %}
                        <a href="{{ url_for('index', tag=tag) }}">{{ tag }}</a>
                        {% endfor %}
                    </article>
                {% endfor %}
                </div>
            </div>
        </section>
        <footer>
            <div>
                &copy; Alexander's Journal
            </div>
        </footer>
    </body>
</html>